table{
    width: 276px;
    height: 258px;
    display: flex;
    flex-direction: column;

    .row1 {
        display: flex;
        height: 86px;
        td:nth-child(1){
            width: 25%;
        }
        td:nth-child(2){
            width: 50%;
        }
        td:nth-child(3){
            width: 25%;
        }
    }

    .row2{
        display: grid;
        height: 172px;

        grid-template-areas: 
            "a a b"
            "a a c";

        td:nth-child(1){
            grid-area: a;
        }

        td:nth-child(2){
            grid-area: b;
        }

        td:nth-child(3){
            grid-area: c;
        }
    }

    td{
        border: 1px solid #E479E8;
        display: flex;
    }

    [name="john"]{
        color: #7DFF9E;
        background-color: #E479E8;
        align-items: center;
        justify-content: center;
    }

    [name="john"]:hover{
        color: #E479E8;
        background-color: #7DFF9E;
        align-items: self-end;
        justify-content: end;
    }

    [name="doe"]{
        color: #E479E8;
        background-color: #7DFF9E;
        align-items: self-end;
        justify-content: end;
    }

    [name="doe"]:hover{
        color: #7DFF9E;
        background-color: #E479E8;
        align-items: center;
        justify-content: center;
    }
}